{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | Anime Style</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/signupstyle.css' %}">
</head>
<body>

    <div class="signup-container">
        <h2>Signup</h2>

        {% if error %}
        <div class="error-message">
            <p>{{error}}</p>
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="username" required placeholder=" ">
                <label>Username</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required placeholder=" ">
                <label>Password</label>
            </div>

            <button type="submit" class="btn-submit">Join Now</button>
        </form>

        <div class="footer-link">
            Already have an account? <a href="/">Back to Login</a>
        </div>
    </div>

</body>
</html>