langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.16
langchain-groq==0.1.4
pydantic==2.12.5
python-dotenv==1.2.1
duckduckgo_search==8.1.1
wikipedia==1.4.0
requests==2.32.5



# python -m pip install -r requirements.txt

# #automatically install all requirements for the folder
# #this is the reason for requiremnts file any project